@import "glowup.css";

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content.create {
    align-items: flex-start;
    width: 700px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > input {
    margin: 15px 0;
    padding: 5px;
}

.button {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
}

.button:hover {
    background: lightgrey;
}

.error {
    color: red;
    max-width: 200px;
}

.standard-btn {
    width: fit-content;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px;
}

.green-btn {
    background-color: rgba(0, 177, 0, 0.49);
}

.green-btn:hover {
    background-color: rgba(0, 177, 0, 0.31) !important;
}

.red-btn {
    background-color: rgba(255, 0, 0, 0.38);
}

.red-btn:hover {
    background-color: rgba(255, 0, 0, 0.28) !important;
}

.standard-btn:hover {
    background-color: lightgrey;
}

.contest-list {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.contest-list > div {
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contest-tests {
    margin: 20px 0;
}

.contest-tests > div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.contest-tests > div > div {
    display: flex;
    flex-direction: row;
}

.contest-tests > div > input {
    padding: 2px;
    margin-top: 3px;
    margin-left: 15px;
}

.contest-tests > div > div > input {
    padding: 2px;
}

.contest-tests > div > div > div {
    border: 1px solid black;
    cursor: pointer;
    padding: 4px;
}

.contest-participants {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.contest-participants > input {
    padding: 2px;
    margin-top: 3px;
}

.content.jury {
    display: flex;
    flex-direction: column;
}

.contestants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contestants > div {
    width: 250px;
    margin: 10px;
    padding: 3px 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contestants > div > h4 {
    font-size: 20px;
}

.contest-test {
    width: 100%;
    padding: 5px;
}

.contest-test > span {
    font-size: 16px;
    font-weight: 500;
}

.contest-test > div {
    padding-left: 15px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}
